@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Poppins:wght@400;500;600;700&family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Lato:wght@300&family=Poppins:wght@400;500;600;700&family=Roboto&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.my-container {
    background-color: #D9D9D9;
    border-radius: 2px;
    width: auto;
    height: auto;
    padding: 20px;
  }
  
  .my-container h5 {
    font-weight: bold;
    margin-bottom: 5px;
  }
  

/* Footer section */
footer {
    background-color: #f8f9fa;
    padding: 30px 0;
  }
  
  .footer-logo {
    display: inline-block;
  }
  
  .footer-logo img {
    height: 50px;
    margin-right: 10px;
  }
  
  .footer-logo h4 {
    display: inline-block;
    margin: 0;
    font-size: 20px;
  }
  
  .social-icons {
    margin-top: 10px;
  }

  .footer-links {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
  }
  
  .footer-links li {
    display: inline-block;
    margin-left: 20px;
  }
  
  .footer-links li:first-child {
    margin-left: 0;
  }

  .footer-logo {
    display: flex;
    align-items: center;
  }
  
  .footer-logo img {
    height: 30px;
    margin-right: 10px;
  }

  .footer-title {
    text-decoration: none;
    font-family: 'Aldrich', sans-serif;
    font-weight: 400;
    font-size: 25px;
    
  }

  .text-linkedin {
    color: #0077B5; /* LinkedIn blue color */
  }
  
  .text-facebook {
    color: #1877f2; /* Facebook blue color */
  }
  
  .text-instagram {
    color: #E1306C; /* Instagram pink color */
  }